<h1 style="text-align:center; color:green">Clubs List</h1>

<%= render partial: '/layouts/index'  %>
<br>
<% if user_signed_in? %>
<%= link_to 'New Club', new_club_path, class: "btn btn-info" %>
<% end %>
