
<h1 style="text-align:center; color:green">Competitions</h1>


<%= render partial: '/layouts/index'%>


<% if user_signed_in? %>
<%= link_to 'New Competition', new_competition_path, class: "btn btn-info" %>
<% end %>

