
<h1 style="text-align:center; color:green">Competitions</h1>

<% columns = ["name", "date", "location", "country", "group", "distance_type", "rang"] %>

<%= render partial: '/layouts/index', :locals => { :columns => columns, :categories => @competitions  } %>

<% if user_signed_in? %>
<%= link_to 'New Competition', new_competition_path, class: "btn btn-info" %>
<% end %>

