
<% fields = [
  @competition,
  ["name"],
  [["date"], ["location"], ["country"]],
  ["group", "distance_type", "rang", "clasa" ]
]

%>


<%= render partial: '/layouts/show', :locals => { :elements => fields} %>
<td><%= link_to 'Count', rang_path(@competition) , class: "btn btn-warning btn-sm"%></td>

<br>
<%= render partial: '/layouts/index'%>
<%= render partial: '/layouts/show_actions', :locals => { :element => fields.first} %>
