<%= render 'show', runner: @runner %>

<div><%= link_to 'Compare', compare_path(@runner) , class: "btn btn-warning btn-sm"%></div>
<div><%= link_to 'Merge', merge_path(@runner) , class: "btn btn-warning btn-sm"%></div>
