
<h1 style="text-align:center; color:green">Groups</h1>


<%= render partial: '/layouts/index'%>


<% if user_signed_in? %>
<%= link_to 'New Group', new_group_path, class: "btn btn-info" %>
<% end %>

