<script>
function hide(selector) {
    obj = document.getElementById(selector).setAttribute("hidden", true);
}

function show(selector) {
    obj = document.getElementById(selector).removeAttribute("hidden");
}

function visibility(text) {
    if (text == "create-competition") {
        competition_visibility(text);
    } else {
        result_visibility(text);
    }
}

function competition_visibility(text) {
    aaa = document.getElementById("result_competition_id").value;
    if (aaa == "New") { show(text); }
    else if (aaa == "0") {
        hide(text);
        document.getElementById('result_group ').parentElement.setAttribute("hidden", true)
    } else { hide(text);
        document.getElementById('result_group ').parentElement.removeAttribute("hidden")

    }
}
</script>

<body onload="myFunction()"></body>
<% fields = [
    ["place", "number"],
    ["runner", @runners, ["name", "surname"], "id"],
    ["duration"],
    ["category", @categories,["full_name"], "id"],
    ["competition", @competitions, ["name", "distance_type"], "id"],
    ["groups", "text"]
] %>
<% competition_fields = [
  ["competition_name", "text"],
  ["date", [], "date"],
  ["location", "text"],
  ["country", "text"],
  ["distance_type", "text"]
] %>
<%= render partial: '/layouts/form', :locals => { :elements => fields, :model => result, :competition_extra => competition_fields, :hidden => false} %>
