<h1 style="text-align:center; color:green">Results</h1>

<% columns = ["place", "runner_call_name", "time_edit", "category", "competition_call_name"] %>

<%= render partial: '/layouts/index', :locals => { :columns => columns, :categories => @results  } %>

<% if user_signed_in? %>
<%= link_to 'New Result', new_result_path, class: "btn btn-info" %>
<% end %>


