<h1 style="text-align:center; color:green">Results</h1>

<%= render partial: '/layouts/index'  %>

<% if user_signed_in? %>
<%= link_to 'New Result', new_result_path, class: "btn btn-info" %>
<% end %>

