<% fields = [
  @category,
  ["full_name"],
  [["name", ""]],
  ["points"]
]
%>
<%= render partial: '/layouts/show', :locals => { :elements => fields} %>


    <p class="lead">
        <% if user_signed_in? %>
        <%= link_to 'Edit', edit_category_path(@category), class: "btn btn-success btn-sm" %>
        <% end %>
        <%= link_to 'Back', categories_path, class: "btn btn-danger btn-sm" %>
    </p>
