        <td><%= link_to 'Show', element, class: "btn btn-warning btn-sm"%></td>
        <% if user_signed_in? %>
        <td><%= link_to 'Edit', edit_polymorphic_path(element), class: "btn btn-success btn-sm"%></td>
        <td><%= link_to 'Delete', element, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %></td>
        <% end %>
      </tr>
