<% if @index_array.first %>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr class="table-primary">
            <% @index_array.first.drop(1).each do |column| %>
            <th>
                <%= column.first.titlecase %>
            </th>
            <% end %>
            <th colspan="3">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @index_array.each do |row| %>
        <tr>
            <% row.drop(1).each do |column| %>
            <td>
                <%if column.last == 'link'%>
                <%= link_to column.second, method("#{column.first}_path").call(column[2]) %>
            </td>
            <% else %>
            <%= column.last %>
            </td>
            <% end %>
            <% end %>
            <%= render partial: '/layouts/actions', :locals => { :element => row.first } %>
        </tr>
        <% end %>
    </tbody>
</table>
<% end %>
<br>
